body {
    background-color: #F7F7F7;
    font-family: 'Inconsolata', monospace;
}

#container {
    background-color: #F1F1F1;
    width: 95%;
    margin: 20px auto;
    padding: 0px;
    border-radius: 20px;
}

header {
    background-color: #454545;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    color: #F1F1F1;
}

header img {
    display: block;
    width: 20%;
    margin: 0px auto;
    padding: 10px;
}

header h1 {
    color: #F1F1F1;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
}

nav {
    background-color: #DC143C;
    padding-top: 5px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #DC143C;
    height: 40px;
    width: 175px;
    font-size: 1.5em;
    line-height: 40px;
    color: #F7F7F7;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
}

nav a:hover {
    color: #454545;
    background-color: #F1F1F1;

}

main {
    background-color: #454545;
    margin: 20px auto;
    padding: 20px 20px;
    color: #F7F7F7;
    border-top: 4px solid #F1F1F1;
    border-bottom: 4px solid #F1F1F1;

}

main h2{
    text-align: center;
    font-size: 2em;
}

main img {
    display: block;
    width: 25%;
    margin: 20px auto;
    border-radius: 20px;
}

main a {
    color: lightblue
}

footer {
    background-color: #454545;
    border-radius: 0 0 20px 20px;
    text-align: center; 
    padding: 10px;
    font-size: 1em;
    color: gray;
}

.active {
    color: #454545;
    background-color: #F1F1F1;
}